* {
    background-color: lightsalmon;
}

main {
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 16px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
  }
  
  
  h1 {
    margin: 2%;
    font-size: 200%;
    font-family: serif;
    color: darkolivegreen;
  }
  
  
  h2 {
    margin: 3% 0;
    font-size: 180%;
    font-family: serif;
  }
  
  
  h3 {
    font-size: 150%;
    font-family: serif;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  
  nav a {
    color: darkolivegreen;
    font-weight: bold;
    text-decoration: none;
  }
  
  main {
    display: flex;
    flex: 1 1 0;
    max-width: 1200px;
    margin: 2% auto;
  }
  
  section {
    flex: 1 1 0;
    padding-right: 5%;
  }
  /* div {
      display: flex;
      justify-content: center;
  } */
  article {
    border-bottom: 1px solid #d8a47f;
  }
  
 
  article p {
    margin: 2% 0;
  }
  
  
  article ul {
    margin-left: 5%;
    list-style: square;
    font-family: monospace;
  }
  
  aside {
    width: 25%;
    align-items: center;
  }
  
  input,
  button {
    width: 100%;
    margin: 2% 0;
    padding: 1%;
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: #13293d;
    color: #fff;
  }
  @media screen and (max-width: 992px) {
      /* id tags */
    
      
  }
  @media screen and (max-width: 768px) {
    header, main {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
    }
  
    aside {
      width: 100%;
      text-align: center;
    }
  }
  